body {
    overscroll-behavior: contain;
    background-color: #444;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
      overscroll-behavior: contain;
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 80vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
  }
}

@media (min-width:768px) {
    .pilot {
      width: 320px;
    }
}

@media (max-width:767px) {
    .pilot {
      width: 100%;
    }
}

#console {
    position:fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.5em;
    padding: 15%;
    color: #AAA;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.hidden {
    display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}