<html>
<head>
    <title><%= title %></title>
</head>
<body>

<button id="logout">logout</button>

<pre>
    <%= data %>
</pre>

<script>
  const logout = document.getElementById("logout");
  logout.addEventListener("click", function (event) {
      fetch("logout").then(() => window.location.reload(true));
  });
</script>

</body>
</html>
