<html>
<head>
    <title><%= title %></title>
</head>
<body>

<button id="refresh">click me!</button>

<pre>
    <%= data %>
</pre>

<script>
const button = document.getElementById("refresh");

button.addEventListener("click", function (event) {
    fetch("refresh", {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
        // body: JSON.stringify(data)
    }).then(res => res.json()
    ).then((body) => {
         console.log("Request complete! response:", body);
    });
});
</script>

</body>
</html>
